html, body {
  background-image: url(images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100%;
  font-family: 'Open Sans', sans-serif
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
}

#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 4rem;
  color: navy;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: white;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 2px dodgerblue solid;
  border-radius: 10%;
  background-color: green;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: green;
}

div.mine, div.mine:hover {
  background: no-repeat center/60% url("images/mine.png") red;
}

div.hidden {
  background: navy;
}

div.hidden:hover {
  background: silver;
}

div.marked, div.marked:hover {
  background: no-repeat center/70% url("images/flag.png") yellow;
}

button {
  background-color: dodgerblue; /* Green */
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 3px solid #008CBA;
  border-radius: 5px;
}

button:hover {
  background-color: navy;
  color: white;
  border: 3px solid white;
  border-radius: 5px;

}